header {
    background-image: url("../imagens/back.svg");
    background-size: 190%;
    background-position-x: center; 
    background-position-y: top;     
    background-repeat: no-repeat;
    width: 100%;
    height: 175px;
    margin-bottom: 25px;
}

#perfil {
    width: 135px;
    height: 135px;
    border-radius: 50%; 
    background-color: var(--cinza); 
    position: absolute;
    bottom: -65px; 
    left: 50%;
    transform: translateX(-50%); 
    padding: 10px;
}

#me {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #f5f5f5;
    box-shadow: 1px 3px 9px 5px rgba(0, 0, 0, 0.053);
}

@media (max-width: 638px) {
    
    header {
        background-size: 380%;
        height: 150px;    
    }
    #perfil {
        width: 115px;
        height: 115px;
        bottom: -60px; 
    }
}
